<table class="day-view">
  <h1><%= @day.title %></h1>
  <% for event in @day.events %>
    <tr>
      <td><%= event.date_start %></td>
      <td><%= event.summary %></td>
    </tr>
    <% end %>
</tabl
